<Project>
	<PropertyGroup>
		<!-- Leave this property here -->
		<UserPropertiesSetUp>True</UserPropertiesSetUp>
		<!-- Insert path to FEZ game directory here -->
		<FezDir></FezDir>
		<!-- If needed, change path to where MonoMod is here -->
		<MonoModDir>$(FezDir)/HATDependencies/MonoMod</MonoModDir>
		<!-- If needed, change path to where your mod should build to here -->
		<ModOutputDir>$(FezDir)/Mods/FEZUG</ModOutputDir>
	</PropertyGroup>
</Project>